<div class="container">
  <br>
  <h1 class="display-3">About Tree Sweeper</h1>
  <br>
  <p>Tree Sweeper was designed to help people find and fix all the annoying errors in family trees: people dying before they're born, parents being born after their children, 
    and the like. Family Search has tools to help with this, but Tree Sweeper is easier and faster to use.
  </p>
  <h3>Getting Started</h3>
  <p>Once you log in to Tree Sweeper, there are a lot of options you can choose to set. However, by default it's ready to go!<br>Just click on the "Start Tree Sweep" button and
  Tree Sweeper will download your family tree going 3 generations back from you, then will check that data for any of the errors we look for.
  There are many options you can adjust. </p>
  <ul>
    <li><p>Tree Sweeper can check up to 7 generations at a time--the more it checks, the longer it takes. <strong>You are generation 0, your parents
      are generation 1, and so on. </strong></p></li>
    <li><p>You can also change who Tree Sweeper starts at by selecting "Someone Else" for the starting point, then putting in their Family Search PID.</p></li>
    <li><p>Next you can change which constraints are checked. A constraint is a rule that Tree Sweeper looks to see if someone in your family tree breaks. By default all constraints are run,
      but there are different groups you can run that are more specific. You can even choose "Custom Constraints" and pick them yourself!</p></li>
  </ul>
  <p>When you have the options set to your liking, click "Start Tree Sweep."</p>
  <h3>Managing Results</h3>
  <p>Tree Sweeper can give a lot of information, and you might not be interested in all of it. You can filter out types of results you're not interested in by using "Filter Results".<br>
  You can also change the way the information is sorted, or even search for a specific name or Family Search PID.</p>
  <h3>Understanding Results</h3>
  <p>When Tree Sweeper finds a potential problem, it will add it to the list of results on the page. All of the issues associated with a person are grouped together, and a summary
    is displayed of the types of results Tree Sweeper has found.<br>
    Tree Sweeper has 4 types of results, indicated by different color flags. They are:
  </p>
  <ul>
    <li><p><strong>Impossible: </strong>Impossible results are marked with <mat-icon class="impossible-flag">flag</mat-icon>. They indicate that something is definitely wrong. In many cases it just means
    that a date was entered wrong, but a lot of the time there is bad data associated with a person.</p></li>
    <li><p><strong>Unlikely: </strong>Unlikely results are marked with <mat-icon class="unlikely-flag">flag</mat-icon>. They indicate that something is unlikely, but not
    definitely wrong. In many cases there will be nothing wrong, but this can be a subtle indicator that something is wrong.</p></li>
    <li><p><strong>Research: </strong>Research results are marked with <mat-icon class="research-flag">flag</mat-icon>. They indicate a research opportunity. They don't 
    indicate an error per se, but can give you somewhere to start with your own family history work.</p></li>
    <li><p><strong>Okay: </strong>Okay results are marked with <mat-icon class="okay-flag">flag</mat-icon>. Tree Sweeper won't start out with anything marked as Okay, but 
    it's pretty common for it to give you results that you know are all right. You can mark these as okay, and undo this decision later on if you want to.</p></li>
  </ul>
  <br>
  <p>That's about it. Thanks for using Tree Sweeper!</p>
  <!-- Display the logo! -->
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><img src="/assets/icons/treesweeper.jpg" class="img-fluid mx-auto" alt="Tree Sweeper logo"/></div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <br>
  <br>
</div>