/*
 * Make the component fill the whole space.
 */
 :host {
    flex: 1;
    display: block;
}

.mat-card {
    margin: 5px;
}

.impossible-flag {
    color: red;
}

.unlikely-flag {
    color: yellow;
}

.research-flag {
    color: purple;
}

.okay-flag {
    color:green;
}