.welcome-card {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.welcome-title {
    font-weight: lighter;
}

.app-description {
    max-width: 80%;
    display: block;
    margin: auto;
}

.partner-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.partner-logo {
    width: 120px;
    text-align: center;
    padding: 0px 20px;
}

.login-button {
    width: 250px;
    max-width: 100%;
}

.button-border {
    padding: 30px;
}

@media screen and (min-width: 1100px) {
    .welcome-card {
        max-width: 1000px;
        margin: 20px auto;
    }
}