.yellow {
    color: yellow;
}

.mat-action-row {
    justify-content: space-between;
}

.mat-expansion-panel-header {
    padding: 10px;
}

.mat-list-item {
    height: auto;
    padding: 10px;
}

.myHeader {
    height: auto !important;
}