<mat-expansion-panel>
  <mat-expansion-panel-header collapsedHeight="auto" class="myHeader">
    <mat-panel-title><mat-icon [style.color]="flagColor()"  matTooltip="{{ tooltipText(result) }}">flag</mat-icon>  {{result.message}}</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item *ngFor="let fix of result.fixes"><mat-icon>help_outline</mat-icon>{{fix}}</mat-list-item>
  </mat-list>
  <div *ngIf="displayProbability">
    <mat-list>
      <mat-list-item>
          <mat-icon class="yellow">label_important</mat-icon>Probability: {{ prettyProbability(result.probability) }}
      </mat-list-item>
    </mat-list>
  </div>
  <mat-action-row>
    <div class="container">
      <div class="row">
        <div class="col-sm mb-3">
            <button mat-raised-button color="primary" (click)="toggleOkay(person,result)"><mat-icon>{{ okayButtonIcon() }}</mat-icon>{{ okayButtonText() }}</button>
        </div>
        <div class="col-sm mb-3">
            <button *ngIf="type === 'UNLIKELY'" mat-raised-button color="primary" (click)="displayProbability = !displayProbability"><mat-icon>{{ probabilityButtonIcon() }}</mat-icon>{{ probabilityButtonText() }}</button>
        </div>
      </div>
    </div>
  </mat-action-row>
</mat-expansion-panel>