<mat-accordion align="left">
  <!-- Display options for last sweep -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Options Used</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
        <div class="row">
          <div class="col-sm"><p>Starting PID: {{dataService.lastSweepOptions.rootPid}}</p></div>
          <div class="col-sm"><p>Constraint Group: {{dataService.lastSweepOptions.constraintGroup}}</p></div>
          <div class="col-sm"><p>Number of Generations: {{dataService.lastSweepOptions.numGenerations}}</p></div>
        </div>
    </div>
  </mat-expansion-panel>
  <!-- Display constraints that were run on the last sweep -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Constraints Used</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
        <div class="row">
          <div class="col-sm-4" *ngFor="let constraint of dataService.lastSweepOptions.enabledConstraints">{{constraint}}</div>
        </div>
    </div>
  </mat-expansion-panel>
  <!-- Display summary of results -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Summary of Results</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
      <div class="row">
        <div class="col-sm">Total Results: {{dataService.lastSweepResults.totalResults}}</div>
        <div class="col-sm">Impossible Results: {{dataService.lastSweepResults.numImpossible}}</div>
        <div class="col-sm">Unlikely Results: {{dataService.lastSweepResults.numUnlikely}}</div>
        <div class="col-sm">Research Results: {{dataService.lastSweepResults.numResearch}}</div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>