/* You can add global styles to this file, and also import other style files */

/* Import bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Import angular material theme */
@import "./theme.scss";

body, html {
    margin: 0;
}

.mat-card {
    margin: 0;
}

.thin-hr {
    max-width: 80%;
    background-color: #ccc;
    height: 1px;
    border: 0px;
}

.logo {
    color: black;
}

.logo svg {
    fill: black;
}
