/*
 * Make the component fill the whole space.
 */
:host {
    flex: 1;
    display: block;
}

.test {
    align-content: center;
    padding: 0;
}

.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}