<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 test">
      <app-sweep-options></app-sweep-options>
    </div>
    <div class="col-lg-8 test">
      <app-sweep-results></app-sweep-results>
    </div>
  </div>
</div>