<mat-card align="center" *ngIf="dataService.lastSweepOptions">
  <mat-card-title>Results of Last Sweep</mat-card-title>
  <mat-card-content>
    <!-- Display summary of last sweep -->
    <app-last-sweep-summary></app-last-sweep-summary>
    <!-- Give save button -->
    <br>
    <button mat-raised-button color="primary" (click)="pdfService.printResults(dataService.refinedResults, dataService.filter, dataService.lastSweepOptions)"><mat-icon>save_alt</mat-icon>Download Results</button>
    <h1> </h1>
    <br>
    <!-- If there are no results, display a notice indicating that -->
    <h2 *ngIf="dataService.refinedResults.length === 0 && (!dataService.status || !dataService.status.loading)">No results! Try sweeping more generations or adjusting the filters.</h2>
    <!-- Display results -->
    <mat-accordion class="aligned-headers">
      <app-person-results *ngFor="let person of dataService.refinedResults" [person]="person"></app-person-results>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<mat-card align="center" *ngIf="!dataService.lastSweepOptions">
  <mat-card-title>No results yet! Set any options you want, and click "Start Tree Sweep!"</mat-card-title>
</mat-card>