.impossible-flag {
    color: red;
}

.unlikely-flag {
    color: yellow;
}

.research-flag {
    color: purple;
}

.okay-flag {
    color:green;
}

.mat-expansion-panel-header {
    padding: 15px 24px;
}

.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.hider {
    position: inherit;
    display: inherit;
}

.myHeader {
    height: auto !important;
}