<mat-expansion-panel>
  <mat-expansion-panel-header collapsedHeight="auto" class="myHeader">
    <!-- Header gives summary: name of person and how many of each type of result they have (by the current filter settings) -->
    <mat-panel-title>{{person.name}}</mat-panel-title>
    <mat-panel-description>
      <div class="hider" *ngIf="dataService.filter.displayImpossible"><mat-icon class="impossible-flag" matTooltip="Number of impossible results">flag</mat-icon> {{person.impossible.length}}</div>
      <div class="hider" *ngIf="dataService.filter.displayUnlikely"><mat-icon class="unlikely-flag" matTooltip="Number of unlikely results">flag</mat-icon> {{person.unlikely.length}}</div>
      <div class="hider" *ngIf="dataService.filter.displayResearch"><mat-icon class="research-flag" matTooltip="Number of research results">flag</mat-icon> {{person.research.length}}</div>
      <div class="hider" *ngIf="dataService.filter.displayOkay"><mat-icon class="okay-flag" matTooltip="Number of results marked OK">flag</mat-icon> {{person.okay.length}}</div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- Body gives links for more information -->
  <div class="container">
    <div class="row">
      <div class="col-sm"><p>FamilySearch Pid: {{person.pid}}</p></div>
      <div class="col-sm"><p>Generation: {{person.generation}}</p></div>
    </div>
    <div class="row">
      <div class="col-sm mb-3"><button mat-raised-button color="primary" (click)="openFamilySearch(person.pid)">See on Family Search</button></div>
      <div class="col-sm mb-3"><button mat-raised-button color="primary" (click)="setRootPerson(person.pid)" matTooltip="Sets this person as the starting point for the next tree sweep">Set as Starting Point</button></div>
    </div>
  </div>
  <!-- Now, display all the flagged results that made it through the filter -->
    
  <mat-accordion>
    <!-- Start with impossible items -->
    <app-result-list *ngIf="dataService.filter.displayImpossible" [type]="'IMPOSSIBLE'" [results]="person.impossible" [person]="person"></app-result-list>
      
    <!-- Now do unlikely items -->
    <app-result-list *ngIf="dataService.filter.displayUnlikely" [type]="'UNLIKELY'" [results]="person.unlikely" [person]="person"></app-result-list>
      
    <!-- Now do research items -->
    <app-result-list *ngIf="dataService.filter.displayResearch" [type]="'RESEARCH'" [results]="person.research" [person]="person"></app-result-list>
      
    <!-- Now do okay items -->
    <app-result-list *ngIf="dataService.filter.displayOkay" [type]="'OKAY'" [results]="person.okay" [person]="person"></app-result-list>
      
  </mat-accordion>
    
</mat-expansion-panel>