<div class="all-wrap">
    <div class="page-wrap">
        <app-navbar></app-navbar>
        <main class="content">
            <router-outlet></router-outlet>
        </main>
        <app-footer></app-footer>
    </div>
</div>