/*
 * Sticky footer styles
 */

.all-wrap {
    min-height: 100vh;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

/*
 * Make component injected by router full height
 */
main {
    display: flex;
    flex-direction: column;
}