<mat-card align="center">
  <mat-card-title>Manage Results</mat-card-title>
  <mat-card-content>
    <mat-accordion align="left">
      <!-- Give filter controls -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Filter Results</mat-panel-title>
          <mat-panel-description>Select all you want displayed</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <mat-slide-toggle 
              color="primary" 
              (change)="dataService.dataChanged()"
              [(ngModel)]="dataService.filter.displayImpossible">Impossible Results</mat-slide-toggle>
          </mat-list-item>
          <mat-list-item>
            <mat-slide-toggle 
              color="primary"
              (change)="dataService.dataChanged()"
              [(ngModel)]="dataService.filter.displayUnlikely">Unlikely Results</mat-slide-toggle>
          </mat-list-item>
          <mat-list-item>
            <mat-slide-toggle 
              color="primary"
              (change)="dataService.dataChanged()"
              [(ngModel)]="dataService.filter.displayResearch">Research Results</mat-slide-toggle>
          </mat-list-item>
          <mat-list-item>
            <mat-slide-toggle 
              color="primary"
              (change)="dataService.dataChanged()"
              [(ngModel)]="dataService.filter.displayOkay">Okay Results</mat-slide-toggle>
          </mat-list-item>
          <mat-list-item>
            <mat-slide-toggle
              color="primary" 
              (change)="dataService.dataChanged()" 
              [(ngModel)]="dataService.filter.displayResearchPersons">People with only Research Results</mat-slide-toggle>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <!-- Give sort controls -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Sort Results</mat-panel-title>
          <mat-panel-description>Choose how to sort results</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-radio-group class="sort-options" [(ngModel)]="sortMethod">
          <mat-radio-button color="primary" class="sort-option" *ngFor="let option of sortOptions" [value]="option" (click)="dataService.changeSort(option)">{{getDescription(option)}}</mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
      <!-- Give search field -->
      <br>
      <mat-form-field class="search-field">
        <span matPrefix><mat-icon>search</mat-icon> &nbsp;</span>
        <input matInput type="search" placeholder="Search for name or PID" [(ngModel)]="dataService.filter.searchString" (keyup)="dataService.changeFilter()"/>
      </mat-form-field>
    </mat-accordion>
  </mat-card-content>
</mat-card>