<div>
  <br>
  <h3 align="center">Loading...</h3>
  <mat-progress-bar [value]="dataService.status.getProgress()" [mode]="dataService.status.mode"></mat-progress-bar>
  <br>
  <p>{{dataService.message}}</p>
  <p *ngIf="dataService.status.mode === 'indeterminate'">Waiting for Family Search servers...</p>
  <br *ngIf="dataService.status.mode !== 'indeterminate'">
</div>