.mat-card {
    margin: 5px;
    margin-left: 0;
}

.mat-form-field {
    width: 100%;
}

p {
    text-align: left;
}

.mat-spinner {
    margin: 0 auto;
}

.mat-checkbox-label {
    white-space: normal;
}