<mat-card align="center">
  <mat-card-title>Options</mat-card-title>
  <mat-card-content>
    <!-- Selector for number of generations -->
    <mat-form-field>
      <mat-select [(value)]="numGenerations" placeholder="Number of generations" required>
        <mat-option *ngFor="let number of generationOptions" value="{{number}}">{{number}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Selector for root person -->
    <mat-form-field>
      <mat-select [(ngModel)]="dataService.rootType" placeholder="Select starting point" required>
        <mat-option value="Current User" (click)="dataService.useCurrentUser = true">Current User</mat-option>
        <mat-option value="Someone Else" (click)="dataService.useCurrentUser = false">Someone Else</mat-option>
      </mat-select>
    </mat-form-field>
    
    <!-- Enter PID, if current user is not root -->
    <mat-form-field *ngIf="!dataService.useCurrentUser">
      <input matInput placeholder="PID for starting person" [(ngModel)]="dataService.rootPid">
    </mat-form-field>

    <!-- Selector for constraint group -->
    <mat-form-field>
      <mat-select value="No Research" placeholder="Select group of constraints">
        <mat-option value="No Research" (click)="selectAllButResearch()">Errors Only</mat-option>
        <mat-option value="All" (click)="selectAllConstraints()">All Constraints</mat-option>
        <mat-option value="Impossible" (click)="selectImpossibleConstraints()">Impossibility Constraints</mat-option>
        <mat-option value="Research" (click)="selectResearchConstraints()">Research Opportunity Constraints</mat-option>
        <mat-option value="Custom" (click)="selectCustomConstraints()">Custom Constraints</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Description of the constraint group -->
    <p>{{getDescription()}}</p>

    <!-- Select constraints, if custom group is selected -->
    <mat-accordion align="left" *ngIf="isCustom">
      <mat-expansion-panel *ngFor="let category of constraintCategories">
        <mat-expansion-panel-header>
          <mat-panel-title>{{category.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let constraint of category.constraints">
          <mat-checkbox [(ngModel)]="constraint.enabled" color="primary"><span class="mat-checkbox-label">{{constraint.getId()}}</span></mat-checkbox>
          <br>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>

    <!-- Button to start a tree sweep using the currently selected options -->
    <button mat-raised-button color="primary" (click)="startSweep()"><mat-icon>sync</mat-icon>Start Tree Sweep</button>

    <!-- Progress indicators as needed -->
    <app-loading-indicator *ngIf="dataService.status && dataService.status.loading"></app-loading-indicator>
  </mat-card-content>
</mat-card>
<!-- Filter controls -->
<app-filter-control></app-filter-control>