.header-icon {
    vertical-align: text-bottom !important;
  }
  
  .home-button {
      font-size: 20px;
  }
    
  .header-spacer {
    flex: 1 1 auto;
  }
  
  .menu-compact {
      display: none;
  }
  
  .menu-compact-button {
      display: block;
      width: 100%;
      color: white;
  }
  
  @media screen and (max-width: 600px) {
      .menu-standard {
          display: none;
      }
      .menu-compact {
          display: inline;
      }
  }