<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="home-button" (click)="goHome()"><mat-icon class="header-icon logo" svgIcon="tree_sweeper_logo"></mat-icon> {{link.APP_NAME}}</button>

    <span class="header-spacer"></span>
    
    <span class="menu-standard">
      <button mat-button (click)="goToRoute(option.href)" *ngFor="let option of link.mainMenu">{{option.name}}</button>
    </span>

    <span class="menu-compact">
      <mat-menu #appMenu="matMenu" class="section-holder-theme">
        <button mat-button routerLink="/{{option.href}}" *ngFor="let option of link.mainMenu" class="menu-compact-button">{{option.name}}</button>
      </mat-menu>
      
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>