.section-title {
    padding-left: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    margin: 0;
    font-size: 22px;
}

.fhtl-link {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.fhtl-link:hover {
    text-decoration: underline;
} 

.section-holder {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: calc(100vh);
}

.column {
    display: block;
    padding: 0px 30px;
}

.link-item {
    height: 30px !important;
}

@media screen and (max-width: 800px) {
    .section-holder {
        display: block;
        /* display: flex; */
        margin-top: 0;
    }
    .column {
        padding-bottom: 20px;
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 620px) {
    .section-holder {
        display: block;
        /* display: flex; */
        margin-top: 0;
    }
    .column {
        padding-bottom: 20px;
        display: block;
        margin: auto;
        width: 250px; /*This number is semi-hardcoded, but works*/
    }
    .link-item {
        height: 24px !important;
    }
}

.section-holder {
    margin-top: 0;
}