<div class="section-holder section-holder-theme">

  <div class="column" *ngFor="let section of footer">
    <h1 class="section-title">{{section.title}}</h1>

    <mat-list dense>
      <mat-list-item class="link-item" *ngFor="let link of section.links">
        <a href="{{link.href}}" target="_blank" class="fhtl-link">{{link.name}}</a>  
      </mat-list-item>
    </mat-list>
  </div>

</div>
